# Ignore virtual environment
resumegpt_venv_311/

# Other common Python ignores (optional)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log

.DS_Store
CVs/.DS_Store
Output/.DS_Store
ResumeGPT/.DS_Store
Engineered_Prompt/.DS_Store
.vscode
CVs/more/